<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApigeeKey</key>
	<string>IEEQfngfhr6fP9aO35VUDhWEst8C2Ymw</string>
	<key>ApigeeSecret</key>
	<string>mjaPOgO0cLicfAHY</string>
</dict>
</plist>
